body
    margin: 0
    font-family: $primaryFont
    color: $primaryFontColor

h1, h2, h3, h4, h5, h6
    font-family: $headerFont

a, a:active, a:visited
    color: $primaryColor
a:hover
    text-decoration: underline
    color: $lightPrimaryColor