body
    margin: 0
    font-family: $primaryFont
    color: $primaryFontColor

h1, h2, h3, h4, h5, h6
    font-family: $headerFont

a, a:active, a:visited
    color: $secondaryColor
    text-decoration: none
    +mainTransition
a:hover
    text-decoration: underline
    color: $lightSecondaryColor

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="search"], 
input[type="date"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="datetime-local"], 
input[type="time"], 
input[type="week"], 
textarea
    display: block
    padding: 8px 12px 
    border-radius: $boxRadius
    border: 1px solid $midGrey
    color: inherit
    font-family: inherit
    font-size: inherit
    +mainTransition
    &.block-field
        display: block
        width: 100%
        box-sizing: border-box
    &:focus
        outline: none
        border-color: $primaryColor
    &.error-field
        border-color: $secondaryColor
    &::placeholder
        color: lighten($midGrey, 15%)

.btn--primary
    +mainBtn($primaryColor)

.btn--primary-border
    +borderBtn($primaryColor)

.btn--neutral
    +mainBtn($midGrey)

.btn--neutral-border
    +borderBtn($midGrey)

.btn--danger
    +mainBtn($secondaryColor)

.btn--danger-border
    +borderBtn($secondaryColor)

.block-btn
    display: block
    text-align: center
    width: 100%
    box-sizing: border-box

.clearfix::before, .clearfix::after, .clearfix-before::before, .clearfix-after::after
    +clearfix

.no-margin
    margin-top: 0 !important
    margin-bottom: 0 !important
.no-margin-top
    margin-top: 0 !important
.no-margin-bottom
    margin-bottom: 0 !important

.modal-wrap
    +outerModal