.btn--primary
    +mainBtn($primaryColor)

.btn--primary-border
    +borderBtn($primaryColor)

.btn--neutral
    +mainBtn($midGrey)

.btn--neutral-border
    +borderBtn($midGrey)

.btn--danger
    +mainBtn($secondaryColor)

.btn--danger-border
    +borderBtn($secondaryColor)

.block-btn
    display: block
    text-align: center
    width: 100%
    box-sizing: border-box