body {
  margin: 0;
  font-family: sans-serif;
  color: #555555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a, a:active, a:visited {
  color: #ee8877;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #f4b0a4;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  background: #ffffff;
}

.form__item {
  display: inline-block;
  margin: 0 10px 20px 0;
}

.form__item-block {
  display: block;
  margin: 0 10px 20px 0;
}

label {
  display: block;
  margin: 0 0 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
textarea,
select {
  display: block;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
input[type="text"].block-field,
input[type="password"].block-field,
input[type="email"].block-field,
input[type="search"].block-field,
input[type="date"].block-field,
input[type="url"].block-field,
input[type="tel"].block-field,
input[type="number"].block-field,
input[type="datetime-local"].block-field,
input[type="time"].block-field,
input[type="week"].block-field,
textarea.block-field,
select.block-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #5555ee;
}
input[type="text"].error-field,
input[type="password"].error-field,
input[type="email"].error-field,
input[type="search"].error-field,
input[type="date"].error-field,
input[type="url"].error-field,
input[type="tel"].error-field,
input[type="number"].error-field,
input[type="datetime-local"].error-field,
input[type="time"].error-field,
input[type="week"].error-field,
textarea.error-field,
select.error-field {
  border-color: #ee8877;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="search"]::placeholder,
input[type="date"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #d0d0d0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

select {
  height: 2.25em;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
}
.radio-label input[type="radio"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.radio-label input[type="radio"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #aaaaaa;
}
.radio-label input[type="radio"]:checked + span::before {
  background: #ee8877;
  border-color: #ee8877;
}

.checkbox-label {
  display: inline-block;
  cursor: pointer;
}
.checkbox-label input[type="checkbox"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.checkbox-label input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 3px;
  border: 2px solid #aaaaaa;
}
.checkbox-label input[type="checkbox"]:checked + span::before {
  background: #ee8877;
  border-color: #ee8877;
}

.file-label {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  border-color: #ee8877;
  border-radius: 3px;
  background: #ee8877;
  color: #ffffff;
}
.file-label input[type="file"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.file-label:hover {
  background: #f4b0a4;
  border-color: #f4b0a4;
}

.file-label--border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  border-color: #ee8877;
  border-radius: 3px;
  background: transparent;
  color: #ee8877;
}
.file-label--border input[type="file"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.file-label--border:hover {
  background: rgba(26, 26, 26, 0);
  border-color: rgba(26, 26, 26, 0);
}
.file-label--border:hover {
  background: #ee8877;
  border-color: #ee8877;
  color: #ffffff;
}

input[type="button"], input[type="submit"] {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #5555ee;
  color: #ffffff;
  border-color: #5555ee;
  border-radius: 3px;
}
input[type="button"]:hover, input[type="submit"]:hover {
  background: #8383f3;
  border-color: #8383f3;
}

input[type="button"].primary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #5555ee;
  border-color: #5555ee;
  border-radius: 3px;
}
input[type="button"].primary-border:hover {
  background: #5555ee;
  color: #ffffff;
}

input[type="button"].secondary {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #ee8877;
  color: #ffffff;
  border-color: #ee8877;
  border-radius: 3px;
}
input[type="button"].secondary:hover {
  background: #f4b0a4;
  border-color: #f4b0a4;
}

input[type="button"].secondary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #ee8877;
  border-color: #ee8877;
  border-radius: 3px;
}
input[type="button"].secondary-border:hover {
  background: #ee8877;
  color: #ffffff;
}

input[type="reset"] {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #aaaaaa;
  border-color: #aaaaaa;
  border-radius: 3px;
}
input[type="reset"]:hover {
  background: #aaaaaa;
  color: #ffffff;
}

.btn--primary {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #5555ee;
  color: #ffffff;
  border-color: #5555ee;
  border-radius: 3px;
}
.btn--primary:hover {
  background: #8383f3;
  border-color: #8383f3;
}

.btn--primary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #5555ee;
  border-color: #5555ee;
  border-radius: 3px;
}
.btn--primary-border:hover {
  background: #5555ee;
  color: #ffffff;
}

.btn--neutral {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #aaaaaa;
  color: #ffffff;
  border-color: #aaaaaa;
  border-radius: 3px;
}
.btn--neutral:hover {
  background: #c4c4c4;
  border-color: #c4c4c4;
}

.btn--neutral-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #aaaaaa;
  border-color: #aaaaaa;
  border-radius: 3px;
}
.btn--neutral-border:hover {
  background: #aaaaaa;
  color: #ffffff;
}

.btn--danger {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #ee8877;
  color: #ffffff;
  border-color: #ee8877;
  border-radius: 3px;
}
.btn--danger:hover {
  background: #f4b0a4;
  border-color: #f4b0a4;
}

.btn--danger-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #ee8877;
  border-color: #ee8877;
  border-radius: 3px;
}
.btn--danger-border:hover {
  background: #ee8877;
  color: #ffffff;
}

.block-btn {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.clearfix::before, .clearfix::after, .clearfix-before::before, .clearfix-after::after {
  display: block;
  content: " ";
  clear: both;
}

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.half {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.one-third {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.two-thirds {
  display: inline-block;
  vertical-align: top;
  width: 64%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.wrap {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
}

.palette div, .greys div {
  display: inline-block;
  margin: 0 15px 15px 0;
  height: 100px;
}

.primary-color {
  background: #5555ee;
  width: 35%;
}

.secondary-color {
  background: #ee8877;
  width: 15%;
}

.third-color {
  background: #99bb99;
  width: 5%;
}

.light-grey {
  background: #f7f7f7;
  width: 10%;
}

.mid-grey {
  background: #aaaaaa;
  width: 25%;
}

.dark-grey {
  background: #2b2b2b;
  width: 10%;
}

/*# sourceMappingURL=style.css.map */
